.profile__info {
  width: 486px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
}

@media screen and (min-width: 426px) and (max-width: 720px) {
  .profile__info {
    width: 100%;
    justify-content: center;
  }
}


@media screen and (max-width: 425px) {
  .profile__info {
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }
}